<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Influencer Planner | Giriş</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body class="login-page">
        <div id="loginApp"></div>
    <script>
      window.__LOGIN_DATA__ = <%- JSON.stringify({
        error: error || '',
        logoUrl: settings.logoUrl
      }) %>;
    </script>
    <script type="module" src="/assets/app.js"></script>
  </body>
</html>

